@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* .special-bl {
    color: #3D45E7;
}

.inline-flex {
    display: inline-flex;
    margin: 15px 0;
    width: 80vw;
}

.btn-wide {
    width: 100%!important;
    margin-bottom: 10px;
}

.hover\:text-orange-600:hover {
    --tw-text-opacity: 1 !important; 
    color: #3D45E7 !important;
  }

.btn-blue {
    background-color: #3D45E7 !important;
    border: 0;
    color: #fff !important;
} */


