@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* PROFILE PAGE */

/* [data-theme="light"] .backgr {
    background: rgb(101,106,224);
    background:
    linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, rgba(1, 1, 1, 1)80%),
    linear-gradient(101deg, rgba(101,106,224,1) 0%, rgba(116,113,217,1) 16%, rgba(218,182,242,1) 39%, rgba(242,195,167,1) 60%, rgba(242,167,167,1) 85%);
} */

.intro {
    color: white;
}

.app .edit.avatar {

}

.app .editCircle {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    position: absolute;
    top: 25%;
    left: 25%;
}

.app .editCircle:hover {
    background-color: rgba(0, 0, 0, 0.7);   
}

/* avatar */
.app .avtr {
    width: 80px;
    border: 5px solid #084c7f;
}

.app .subgraph-tb .text-base.font-normal {
    font-size: 14px !important;
}

.app .subgraph-msg {
    max-width: 100px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.app .subgraph-val {
    max-width: 100px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.app .subgraph-tb td {
    padding: 0px;
}

/* MEDIA Q */

/* When the browser is at least 600px and above */
@media screen and (max-width: 600px) {

  }