@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#canvas {position: absolute};

/* #master background dot animation */
#master {
  position: relative;
}

#master::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Adjust the height of the dot */
  animation: dotScroll 16s linear infinite;
  background-image: radial-gradient(circle, #2e3c51 var(--dot-size), transparent 0);
  background-size: calc(6% - 1px) 100px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@keyframes dotScroll {
  0% {
      background-position-y: 140px
  }

  to {
      background-position-y: 0
  }
}
:root {
  --dot-size: 1.75px; /* Adjust as needed */
}

/* ring */
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ring */
.g-tropical {
  background: linear-gradient(270deg, #25e411, #f56217);
  background-size: 400% 400%;

  -webkit-animation: moving-gradient-tropical 8s ease infinite;
  -moz-animation: moving-gradient-tropical 8s ease infinite;
  animation: moving-gradient-tropical 8s ease infinite;
}

@-webkit-keyframes moving-gradient-tropical {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes moving-gradient-tropical {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes moving-gradient-tropical {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* Adding Tailwind CSS */
.w-14 {width: 3.5rem}
.w-13 {width: 3.25rem} .h-13 {height: 3.25rem}
.w-10 {width: 2.5rem}
.w-9 {width: 2.25rem} .h-9 {height: 2.25rem}

.w-inherit { width: inherit; }
.h-inherit { height: inherit !important; }
.ring-2px { border-width: 2px; border-color: #3D45E7; }
.ring-4px { border-width: 4px; border-color: #3D45E7; }
.ring-primary {
  --tw-ring-opacity: 1;
  background-image: linear-gradient(to right, #ff0000, #00ff00); /* Replace colors with your desired gradient */
}
.w-88px { width: 88px; }
.rounded-xxl { border-radius: 1.5rem; }
.notification-dot { top: 7px; border: 1px solid white; }

/* Wild UI CSS */
.wildui-generic-scroll-a {
  /* background-color: #03A66A; */
  height: calc(100vh - 17rem);
}
.wildui-transaction-scroll-home {
  height: calc(100vh - 28rem);
}
.wildui-transaction-scroll-profile-view {
  height: calc(100vh - 37rem);
}
.wildui-transaction-scroll-profile-username {
  height: calc(100vh - 37rem);
}
.wildui-transaction-scroll-transaction {
  height: calc(100vh - 11rem);
}
.wildui-leaderboard-scroll {
  height: calc(100vh - 14rem);
}
.wildui-notification-scroll {
  height: calc(100vh - 14rem);
}
/* .wildui-search-res-scroll {
  height: calc(100vh - 11rem);
} */
.wildui-menu { top: 20px; right: 20px; }
.wildui-modal-container { background-color: rgba(0, 0, 0, 0.5); z-index: 100;}
.wildui-modal-child { width: 480px; }

/* Remove default styling for number input */
#wildpay-fastpay input[type="number"], #wildpay-withdraw input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  width: 100%; /* Adjust width as needed */
  padding: 0.5rem; /* Adjust padding as needed */
}

/* Webkit browsers like Chrome and Safari use a different appearance property */
#wildpay-fastpay input::-webkit-outer-spin-button,
#wildpay-fastpay input::-webkit-inner-spin-button,
#wildpay-withdraw input::-webkit-outer-spin-button,
#wildpay-withdraw input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in IE 10 and above */
#wildpay-fastpay input[type="number"]::-ms-clear,
#wildpay-withdraw input[type="number"]::-ms-clear {
  display: none;
}

/* Remove outline on focus for number input */
#wildpay-fastpay input[type="number"]:focus,
#wildpay-withdraw input[type="number"]:focus {
  outline: none;
}

#wildpay-app-menu-pay {top: -20px;}

.disabled-button {
  pointer-events: none;
  opacity: 0.7; /* Optional: reduces opacity for a visual indication */
  cursor: not-allowed;
}

.box-shadow-01 {
  box-shadow: rgba(0, 0, 0, 1) 0px 25px 50px -12px;
}
.box-shadow-02 {
  box-shadow: rgba(0, 0, 0, 1) 0px -20px 50px -12px;
}

.modal-content {
  background: white;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.h-100px {
  height: 88px !important;
}

/* Card */
.card.achieved.image-full:before {
  background-color: #F29F05;
}
.card.levelup.image-full:before {
  background-color: #8199bc;
}

/* APP */
/* #wildpay { min-width: 506px; max-width: 506px; } */
#wildpay { min-width: 506px; max-width: 506px; }
#wildpay-avatar-cta { border: 1px solid #3D45E7; /* Added 'solid' as the border style */ }
#wildpay-app-menu {border-radius: 20px 20px 0 0;}

/* CUSTOM */
.custom-gradient-01 { background: linear-gradient(to right, rgba(190, 133, 146, 1) 0%, rgba(252, 150, 122, 1) 22%, rgba(253, 211, 156, 1) 45%, rgba(230, 212, 180, 1) 68%, rgba(215, 239, 185, 1) 100%); }
.custom-gradient-02 { background: rgb(182,245,204); background: linear-gradient(180deg, rgba(182,245,204,1) 57%, rgba(64,73,231,1) 100%); }
.custom-bg-dark { background: black; }
.custom-bg-light { background: white; }
.custom-bg-blue { background-color: #3D45E7; }
.custom-text-blue { color: #3D45E7 }
.custom-bg-image-01 { background-image: url('/card-01.png'); background-size: cover; isolation: isolate; }
.custom-bg-image-02 { background-image: url('/card-02.png'); background-size: cover; isolation: isolate; }
.custom-top-cover { background-image: url("/Frame360.png"); width: 100%; height: 210px; top:0; left:0; border-bottom-right-radius: 40px; border-bottom-left-radius: 40px; }
.custom-difference-blend { mix-blend-mode: difference; color: #fff; }

.custom-is-not-auth-menu { top: 20px; right: 20px; }

/* STEPS */

.steps-vertical .step:before { height: 322%!important; }
.steps-vertical .step { grid-template-rows: max-content; }

/* ANIMATION */
.animation { height: 44px; overflow: hidden; }
.animation>div>div { height: 2.81rem; margin-bottom: 2.81rem; display: inline-block; }
.animation div:first-child { animation: text-animation 8s infinite; }

@keyframes text-animation {
  0%, 100% { margin-top: 0; }
  20%, 30%, 70%, 80% { margin-top: -5.62rem; }
  40%, 60% { margin-top: -11.24rem; }
  90% { margin-top: 0; }
}

/* CARDS CAROUSELS: slides,scrolls */

/* .slider { width: 300px; text-align: center; overflow: hidden; margin-top: 10px; margin-bottom: 10px; }
.slides { font-size: 9px !important; display: flex; overflow-x: auto; scroll-snap-type: x mandatory; scroll-behavior: smooth; -webkit-overflow-scrolling: touch; }
.slides::-webkit-scrollbar { width: 10px; height: 10px; }
.slides::-webkit-scrollbar-thumb { background: black; border-radius: 20px; }
.slides::-webkit-scrollbar-track { background: transparent; }
.slides>div { scroll-snap-align: start; flex-shrink: 0; width: 300px; height: 200px; margin-right: 20px; margin-bottom: 3px; }
.slides>div { border-radius: 10px; background: #eee; transform-origin: center center; transform: scale(1); transition: transform 0.5s; position: relative; display: flex; justify-content: center; align-items: center; font-size: 100px; } */

/* .scr { display: inline-flex; width: 370px; height: 239.07px; scroll-snap-type: x mandatory; scroll-behavior: smooth; overflow-x: auto; } */
#wildpay-is-not-auth .scr {
  display: inline-flex;
  width: 450px; 
  height: 292.05px;
}

.scr { width: 370px; height: 239.07px; }
.scr-item { box-sizing: content-box; display: flex; flex: none; scroll-snap-align: start; width: 100%; height: 100%; border-radius: 10px; font-size: 18px; }
.scr-item .url { bottom: 7px; right: 7px; }
.scr-item .network { top: 7px; left: 7px; }
.scr::-webkit-scrollbar { width: 10px; height: 5px; }
.scr::-webkit-scrollbar-thumb { background: rgb(67, 67, 67); border-radius: 10px; }
.scr::-webkit-scrollbar-track { background: transparent; }

/* OTHER: socials, availability badge*/
/* .fb .h-8 { width: 10px; } */
/* .w-18px { width: 18px; }
.w-14px { width: 14px; } */
.badge { color: white; }
.badge-info { background-color: #05C7F2!important; }
.badge-success { background-color: #03A66A!important; }
.badge-warning { background-color: #F29F05!important; }
.badge-error { background-color: #F25764!important; }

/* MEDIA Q */

/* MD: Tablet */
@media screen and (max-width: 640px) {
  
}

/* SM: Mobile */
@media screen and (max-width: 480px) {
  #wildpay { min-width: 100vw; max-width: 100vw; }
  #wildpay-app-menu-pay {top: 0px;}
  #wildpay-claim-domain { letter-spacing: 0; text-wrap: nowrap; }
  #wildpay-claim #username { width: 55% }
  #wildpay-claim-avail { text-wrap: nowrap; }
  #wildpay-profile-edit input {width: 50%;}
  #main.pt-10 { padding-top: 0 }

  .wildpay-soc-label {display: none;}
  .wildui-transaction-scroll-profile-view {
    /* background-color: #03A66A; */
    height: calc(100vh - 35rem);
  }
  .wildui-transaction-scroll-profile-username {
    /* background-color: #03A66A; */
    height: calc(100vh - 35rem);
  }
  .scr {
    width: 100%!important; /* Subtract twice the padding/margin on both sides */
    height: calc((100vw - 56px) * 0.629)!important; /* Adjust the aspect ratio as needed */
  }
  .custom-top-cover {height: 210px}
  .wildui-modal-child { width: 95%; }
}